@font-face {
    font-family: 'Visby Round CF';
    src: url('Fonts/Letra/OTF/VisbyRoundCF-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Visby Round CF';
    src: url('Fonts/Letra/OTF/VisbyRoundCF-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

strong,
h1, h2, h3, h4, h5, h6,
body,
p,
.typography {
    font-family: 'Visby Round CF', sans-serif;
    font-weight: 600; 
}

input[type="text"].MuiInputBase-input,
input[type="password"].MuiInputBase-input,
textarea.MuiInputBase-input {
    font-family: 'Visby Round CF', sans-serif;
    font-weight: 600; 
}
