@font-face {
    font-family: 'Visby Round CF';
    src: url('Fonts/Letra/OTF/VisbyRoundCF-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Visby Round CF';
    src: url('Fonts/Letra/OTF/VisbyRoundCF-DemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}


strong,
h1, h2, h3, h4, h5, h6 {
    font-family: 'Visby Round CF';
    font-weight: bold;
}

body,
p,
.typography {
    font-family: 'Visby Round CF';
    font-weight: 600;
}
